@model day09LabCodeFirst.Models.LttLoaiSanPham

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LttLoaiSanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lttMaLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lttMaLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lttTenLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lttTenLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lttTrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lttTrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.lttId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
