@model LeThiThao_231230910.Models.Chuyen

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Chuyen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayGio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayGio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLaiXeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLaiXeNavigation.MaLaiXe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaTuyenNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTuyenNavigation.MaTuyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoXeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoXeNavigation.SoXe)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaChuyen" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
