@model SanPham
@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_LayoutMuoi.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/@Model.AnhDaiDien" class="img-fluid" alt="@Model.TenSanPham">
        </div>
        <div class="col-md-6">
            <h2>@Html.DisplayFor(m => m.TenSanPham)</h2>

            <div class="form-group">
                @Html.LabelFor(m => m.MaPhanLoai)
                @Html.DropDownListFor(m => m.MaPhanLoai, (SelectList)ViewBag.PhanLoai, "-- Chọn phân loại --", new { @class = "form-control", disabled = "disabled" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.MaPhanLoaiPhu)
                @Html.DropDownListFor(m => m.MaPhanLoaiPhu, (SelectList)ViewBag.PhanLoaiPhu, "-- Chọn phân loại phụ --", new { @class = "form-control", disabled = "disabled" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DonGiaBanNhoNhat)
                <p class="form-control-static">@Html.DisplayFor(m => m.DonGiaBanNhoNhat) đ</p>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DonGiaBanLonNhat)
                <p class="form-control-static">@Html.DisplayFor(m => m.DonGiaBanLonNhat) đ</p>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.MoTaNgan)
                <p class="form-control-static">@Html.DisplayFor(m => m.MoTaNgan)</p>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4">
        <div class="d-flex justify-content-between">
            <a href="@Url.Action("Index")" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Quay lại
            </a>
            
            <form asp-action="Delete" 
                  asp-route-id="@Model.MaSanPham" 
                  method="post" 
                  onsubmit="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?');">
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-trash"></i> Xóa sản phẩm
                </button>
            </form>
        </div>
    </div>
</div>

